<p>numero de preguntas: <%=statistics.numero_preguntas %></p>
<p>numero de comentarios: <%=statistics.numero_comentarios %></p>
<p>media comentarios: <%=statistics.media_comentarios %></p>
<p>preguntas sin comentarios: <%=statistics.preguntas_sin_coment %></p>
<p>preguntas con comentarios: <%=statistics.preguntas_con_coment %></p>
